<div class="container">
  <script>
    var preloadModels = {
      books: <%=raw @books.to_json %>
    };
  </script>
  <div class="navigation"></div>
  <div class="hero-unit">
    <div class="books">
    </div>
  </div>
</div>
