/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require bootstrap-responsive
 *= depend_on util
 *= require_self
*/

@import 'util';
//@import 'bootstrap_ext';
//@import 'user';

.input-book-add {
  width: 50%;
}

.hidden {
  display: none;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 980px) {
  body {
    padding: 60px 6px 40px;
  }
}


