@mixin well_edge_color($r, $g, $b) {
  border-color: rgba($r, $g, $b, 0.8);
  /* IE6-9 */ 
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($r, $g, $b, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($r, $g, $b, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($r, $g, $b, 0.6);
}

@mixin border-radius($vars) {
  -webkit-border-radius: $vars;
     -moz-border-radius: $vars;
          border-radius: $vars;
}

@mixin box-shadow($vars) {
  -webkit-box-shadow: $vars;
     -moz-box-shadow: $vars;
          box-shadow: $vars;
}

@mixin box-sizing($vars) {
  -webkit-box-sizing: $vars;
     -moz-box-sizing: $vars;
          box-sizing: $vars;
}
