<!DOCTYPE html>
<html>
<head>
  <title>Choose your own Misadventure</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div class="container">
  <%= yield %>
  <div id="books">
  </div>  
</div>
<script type="text/javascript">
  $(document).ready(Misadventure.start());
</script>
</body>
</html>
